In [16]:
# pip install pandas

In [17]:
import numpy as np
import pandas as pd

## TIEMPO DE ATENCION

#### Parametros

In [ ]:
min_val = 3
mode_val = 7.05
max_val = 15

In [18]:
data = np.random.triangular(min_val, mode_val, max_val, 2000)
df = pd.DataFrame(data, columns=['tiempo de atencion'])
df.to_csv('tiempo de atencion.csv', index=False)
df.to_csv('tiempo_atencion.txt', index=False, header=False, sep='\t', float_format='%.5f')
df

      tiempo de atencion
0               7.502331
1               9.137332
2               6.258461
3               4.302644
4              12.263509
...                  ...
1995            5.591886
1996           10.889157
1997           13.201613
1998            5.870124
1999            5.630980

[2000 rows x 1 columns]

## TIEMPO DE ESPERA DE RESPUESTA

#### Parametros

In [ ]:
min_val = 0
max_val = 752

In [19]:
data = np.random.uniform(min_val, max_val, 2000)
df2 = pd.DataFrame(data, columns=['tiempo de espera de respuesta'])
df2.to_csv('tiempo de espera de respuesta.csv', index=False)
df2

      tiempo de espera de respuesta
0                        559.669253
1                        215.176135
2                        363.743174
3                        166.801835
4                        400.309389
...                             ...
1995                     577.607786
1996                     541.983287
1997                     609.292303
1998                     435.206743
1999                     703.581745

[2000 rows x 1 columns]

## TIEMPO ENTRE LLEGADAS DE SOLICITUDES

In [20]:
parametro = 113
data = np.random.exponential(parametro, 2000)
df3= pd.DataFrame(data, columns=['tiempo entre llegadas de solicitudes'])
df3.to_csv('tiempo entre llegadas de solicitudes.csv', index=False)
df3

      tiempo entre llegadas de solicitudes
0                                57.038120
1                                 9.844797
2                                48.621115
3                                75.818193
4                                87.765132
...                                    ...
1995                            325.700961
1996                             24.566185
1997                            155.067715
1998                              1.671550
1999                             31.564196

[2000 rows x 1 columns]

# LIMPIEZA DE DATOS

In [23]:
# input_file = 'excel_trush.csv'  
# output_file = 'clean_data.csv'

# df = pd.read_csv(input_file, sep=';')
# df = df.round(3)
# df.to_csv(output_file, index=False)
# df

In [ ]:
# !pip install openpyxl

In [24]:
import openpyxl

input_file = 'excel_trush.csv'  
output_file = 'clean_data.xlsx'
df = pd.read_csv(input_file, sep=';')
df = df.round(3)
df.to_excel(output_file, index=False)
df

,Tiempo entre llegada de solicitudes,tiempo de espera de respuesta,Tiempo de Atencion
0,7.680000e+19,5.830000e+20,7.420000e+18
1,1.130000e+20,7.030000e+20,1.300000e+19
2,2.350000e+20,6.130000e+20,5.430000e+18
3,1.290000e+19,5.980000e+20,6.410000e+18
4,2.890000e+19,3.670000e+20,9.940000e+18
...,...,...,...
495,8.200000e+19,6.540000e+20,9.340000e+18
496,4.510000e+19,3.070000e+20,6.890000e+18
497,8.340000e+18,5.800000e+20,6.650000e+18
498,3.910000e+17,5.660000e+20,3.990000e+18
499,2.250000e+18,7.500000e+20,6.510000e+18